annotated-types==0.6.0
anyio==4.2.0
argcomplete==2.0.0
asgiref==3.7.2
attrs==23.1.0
autocommand==2.2.2
bitstring==3.1.9
btrfsutil==6.6.3
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==41.0.7
databases==0.7.0
dbus-python==1.3.2
dirty-equals==0.6.0
distlib==0.3.8
distro==1.9.0
ecdsa==0.18.0
esptool==4.6.2
fastapi==0.108.0
fastjsonschema==2.19.1
filelock==3.13.1
greenlet==3.0.1
h11==0.14.0
httptools==0.6.1
idna==3.5
inflect==7.0.0
jaraco.context==4.3.0
jaraco.functools==3.9.0
jaraco.text==3.12.0
Jinja2==3.1.2
libinput-gestures-qt==0.3
libtorrent==2.0.9
MarkupSafe==2.1.3
mercurial==6.6.1
more-itertools==10.1.0
nftables==0.1
ordered-set==4.1.0
packaging==23.2
passlib==1.7.4
pipx==1.4.1
platformdirs==4.1.0
ply==3.11
pyaes==1.6.1
pycparser==2.21
pydantic==2.5.3
pydantic-extra-types==2.3.0
pydantic-settings==2.1.0
pydantic_core==2.14.6
PyGObject==3.46.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
pyserial==3.5
python-dotenv==1.0.0
pytz==2023.3.post1
pyxdg==0.28
PyYAML==6.0.1
QTermWidget==1.4.0
reedsolo==1.7.0
Reflector==2023.6.28.0.36.1
requests==2.31.0
six==1.16.0
smbus==1.1
sniffio==1.3.0
SQLAlchemy==1.4.44
starlette==0.34.0
tomli==2.0.1
trove-classifiers==2023.12.1
typing_extensions==4.9.0
urllib3==1.26.18
userpath==1.9.1
uvicorn==0.25.0
uvloop==0.19.0
validate-pyproject==0.13.post1.dev0+gb752273.d20230520
virtualenv==20.25.0
websockets==12.0
yt-dlp==2023.12.30
